/* .cardSalon{
    color: #4b5859;
}
.cardSection{
    margin-top: 30px;
}
.cardSection1{
    height: 130px;
    color: #4b5859;
}
.cardOne{
    text-align: center;

}

.card-body {
    padding: 1.25rem 1rem;
}

.card-title{
    color: #17A2B8;
    font-weight: 700;
}
.card_design {
      box-shadow: 0px 20px 20px 0px #cbcece;
}
.delete{
	width: 17%
}
@media only screen and (max-width: 992px) {
  	.cardOne {
    	margin-top: 30px;
  	}
}
@media only screen and (max-width: 576px) {
  	.cardOne {
    	margin: auto;
   		margin-top: 30px;
  	}
}
@media only screen and (max-width: 676px) {
    .card_design {
        box-shadow: 0px 20px 20px 0px #1C8393;
  }
} */