@import url('https://fonts.googleapis.com/css?family=B612|Inconsolata');

section {
	margin-bottom: 30px;
}
.carusel {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-top: 30px;
}
.carusel_img {
	height: 70vh;
}

.size {
    height: 40vh;
}
.next_prev {
    margin-top: 10%;
}